@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS file */
input[type="date"], input[type="time"] {
    max-width: 100%; /* Ensures input fields don't overflow */
  }
  
  @media (max-width: 640px) {
    .date-picker-popup, .time-picker-popup {
      width: 100vw; /* Adjust to fit within the viewport width */
      max-width: 100%;
    }
  }
  